{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Registro Exitoso</title>
	<link rel="stylesheet" href="{% static 'css_generales/registro_asistente.html.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
	<header class="top-bar">
		<div class="top-bar-container">
			<div class="logo-title">
				<img src="{% static 'fondos/logosena.png' %}" alt="Logo SENA" class="mini-logo">
				<h1 class="site-title">EVENTSOFT</h1>
			</div>
			<nav class="top-menu">
				<a href="{% url 'eventos_proximos' %}" class="login-link">Eventos Próximos</a>
				<a href="{% url 'login' %}" class="login-link">Iniciar Sesión</a>
			</nav>
		</div>
	</header>
	<div class="container">
		<div class="form-grid">
			<div class="form-card">
				<h2><i class="fa-solid fa-check-circle"></i> ¡Registro exitoso!</h2>
				<p>Te has registrado al evento: <span>{{ evento.nombre }}</span></p>
			</div>
			<div class="image-side">
				<img src="{% static 'fondos/imagen4.jpg' %}" alt="Imagen ilustrativa">
			</div>
		</div>
	</div>
	<div class="logo-watermark">
		<img src="{% static 'fondos/logosena.png' %}" alt="Logo SENA">
	</div>
</body>
</html>